.home {
    text-align: center;
}

#menu {
    /* 
     * Top centers menu vertically by subtracting by total height of the menu 
     * so if the number of menu items change, the calc for top will also have
     * to change.
     */
    position: absolute;
    right: 1.5vh;
    top: calc(50% - 13.25vh); 
    z-index: 70;
    margin: 0;
    padding: 0;
    font-size: 6vh;
}

#menu li {
    display: block;
    margin: 1vh 0;
    height: 7.5vh;
    width: 7.5vh;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

#menu li.active {
    background: rgba(0, 0, 0, 0.5);
}

#menu li.active:hover {
    background: rgba(0, 0, 0, 0.5);
}

#menu li:not(.active):hover {
    background: rgba(255,255,255, 0.8);
}

#menu li a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

#menu li.active a {
    color: #fff;
}

#menu li a, #menu li.active a {
    display:block;
    margin: 0;
    padding: 0;
}

.section-title {
    position: absolute;
    top: 0;
    width: 100%;
}

.section-title span {
    font-family: futura-pt, sans-serif;
    font-style: oblique;
    font-weight: 1000;
    font-size: 10vh;
}

.section-links {
    position: absolute;
    width: 100%;
    bottom: 5vh;
    z-index: 70;
    padding: 0;
    margin: 0;
    padding: 0;
}
  
.section-links li {
    display: inline-block;
    margin: 0 0.5vh;
    height: 7.5vh;
    width: 7.5vh;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}
  
.section-links li a {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
  
.section-links li:hover {
    background: rgba(255, 255, 255, 0.8);
}
  
.svg-icon {
    width: 5vh;
    height: 5vh;
    padding: 1.5vh 0 0 0;
}

.section-credit {
    position: absolute;
    width: 100%;
    bottom: 1.5vh;
    z-index: 70;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

.cover-body-container {
    position: absolute;
    width: 46.6vh;
    height: 70vh;
    top: calc(50% - 35vh);
    left: calc(50% - 23.3vh);
    margin: 0;
    padding: 0;

    background: linear-gradient(0deg, #ffffff, #ececec);
    background-size: 400% 400%;

    -webkit-animation: CoverBodyBackground 16s ease infinite;
    -moz-animation: CoverBodyBackground 16s ease infinite;
    animation: CoverBodyBackground 16s ease infinite;
}

@-webkit-keyframes CoverBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes CoverBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes CoverBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.cover-body-foreground {
    height: 70vh;
}

.about-body-container {
    position: absolute;
    width: 46.6vh;
    height: 70vh;
    top: calc(50% - 35vh);
    left: calc(50% - 23.3vh);
    margin: 0;
    padding: 0;

    background: linear-gradient(0deg, #2d4351, #2c2358);
    background-size: 400% 400%;

    -webkit-animation: AboutBodyBackground 16s ease infinite;
    -moz-animation: AboutBodyBackground 16s ease infinite;
    animation: AboutBodyBackground 16s ease infinite;
}

@-webkit-keyframes AboutBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AboutBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AboutBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.about-body-foreground {
    width: 46.6vh;
    height: 70vh;
}

.about-body-caption {
    position: absolute;
    top: calc(50% - 35vh);
    left: calc(50% - 23.3vh);
    margin: 1.5vh 1vh 0 1vh;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #ededed;
    text-decoration: none;
}

.about-body-caption-first {
    font-size: 4.5vh;
    margin: 0;
    padding: 0;
}

.about-body-caption-second {
    margin: 0;
    padding: 0;
}

.about-body-resume {
    position: absolute;
    bottom: 1.5vh;
    left: calc(50% - 11vh);
    width: 22vh;
    height: 6vh;
    padding: 1.5vh 0vh 1vh 0vh;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.about-body-resume:hover {
    background: rgba(0, 0, 0, 0.8);
}

.about-body-resume span {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: #fff;
}

.projects-body-container {
    position: absolute;
    width: 46.6vh;
    height: 70vh;
    top: calc(50% - 35vh);
    left: calc(50% - 23.3vh);
    margin: 0;
    padding: 0;

    background: linear-gradient(0deg, #3f4042, #1c1d1f);
    background-size: 400% 400%;

    -webkit-animation: ProjectsBodyBackground 16s ease infinite;
    -moz-animation: ProjectsBodyBackground 16s ease infinite;
    animation: ProjectsBodyBackground 16s ease infinite;
}

@-webkit-keyframes ProjectsBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes ProjectsBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes ProjectsBodyBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.focusRing___1airF.carousel__slide-focus-ring {
    outline: none !important;
}

.projects-body-slide {
    position: absolute;
    width: 40vh;
    height: 60vh;
    top: calc(50% - 30vh);
    left: calc(50% - 20vh);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.projects-body-backgroundimage {
    height: 60vh;
}

.projects-body-dotgroup {
    position: absolute;
    width: 100%;
    bottom: 0.5vh;
    z-index: 60;
    padding: 0;
    margin: 0;
    padding: 0;
}

.carousel__dot {
    margin: 0 0.5vh;
    height: 3.5vh;
    width: 3.5vh;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    outline: none !important;
}

.carousel__dot:hover {
    background: rgba(255, 255, 255, 0.8);
}

.carousel__dot--selected, .carousel__dot--selected:hover {
    background: rgba(255, 255, 255, 0.8);
}

.projcap {
    position: absolute;
    left: -6vh;
    top: 54vh;
    width: 100%;
    padding: 0 6vh 6vh 6vh;
    margin: 0;
    transition: 0.3s;
}

.projcap-collapsed {
    background: rgba(0, 0, 0, 0.5);
}

.projcap-collapsed:hover {
    background: rgba(0, 0, 0, 0.8);
}

.projcap-expanded {
    background: rgba(0, 0, 0, 0.8);
    transform: translateY(calc(-100% + 12vh));
}

.projcap-title {
    width: 100%;
    height: 6vh;
    padding: 1.5vh 0vh 1vh 0vh;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.projcap-title span {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: #fff;
}

.projcap-detail {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    transition: 0.3s;
}

.projcap-detail span {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #fff;
}

.projcap-detail p {
    padding: 0 1vh;
    margin: 1vh 0vh;
    text-decoration: none;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #fff;
}

.projcap-links {
    width: 100%;
    padding: 0;
    margin: 1vh 0;
}

.projcap-links a {
    margin: 0 0.5vh;
}

.projcap-links a button {
    width: 8vh;
    height: 4vh;
    padding: 1vh 0vh 1vh 0vh;
    margin: 0;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.projcap-links a button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.projcap-links a button span {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #fff;
}