.home {
    text-align: center;
}

#menu {
    position: absolute;
    right: 1.5vmin;
    top: calc(50% - 13.25vmin);
    z-index: 70;
    margin: 0;
    padding: 0;
    font-size: 6vmin;
}

#menu li {
    display: block;
    margin: 1vmin 0;
    height: 7.5vmin;
    width: 7.5vmin;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

#menu li.active {
    background: rgba(0, 0, 0, 0.5);
}

#menu li.active:hover {
    background: rgba(0, 0, 0, 0.5);
}

#menu li:not(.active):hover {
    background: rgba(255,255,255, 0.8);
}

#menu li a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

#menu li.active a {
    color: #fff;
}

#menu li a, #menu li.active a {
    display:block;
    margin: 0;
    padding: 0;
}

.section-title {
    position: absolute;
    top: 0;
    width: 100%;
}

.section-title span {
    font-family: futura-pt, sans-serif;
    font-style: oblique;
    font-weight: 1000;
    font-size: 10vmin;
}

.section-links {
    position: absolute;
    width: 100%;
    bottom: 5vmin;
    z-index: 70;
    padding: 0;
    margin: 0;
    padding: 0;
}
  
.section-links li {
    display: inline-block;
    margin: 0 0.5vmin;
    height: 7.5vmin;
    width: 7.5vmin;
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}
  
.section-links li a {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
  
.section-links li:hover {
    background: rgba(255, 255, 255, 0.8);
}
  
.svg-icon {
    width: 5vmin;
    height: 5vmin;
    padding: 1.5vmin 0 0 0;
}

.section-credit {
    position: absolute;
    width: 100%;
    bottom: 1.5vmin;
    z-index: 70;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vmin;
}